@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
}
@layer components {
  .btn-primary {
    @apply shadow-[5px_6px_3px_#56565685] px-12 py-6 bg-secondary-400 hover:shadow-[-0.5px_0px_3px_#565656] transition-all;
  }

  .primary-shadow { 
    @apply shadow-[5px_6px_3px_#56565685];
  }
}

@layer base {
  body {
    @apply bg-white tracking-wide text-gray-900 dark:bg-slate-900 dark:text-slate-400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-2 mb-4 font-bold;
  }

  h1 {
    @apply text-9xl;
  }

  h2 {
    @apply text-7xl;
  }

  h3 {
    @apply text-5xl;
  }

  h4 {
    @apply text-4xl;
  }

  h5 {
    @apply text-3xl;
  }

  h6 {
    @apply text-xl;
  }
}

.gradient-bg-top {
  background: conic-gradient(
    from 207.84deg at 41.65% 45.97%,
    #ffffff -26.57deg,
    #ffffff 44.43deg,
    #2eb786 134.34deg,
    rgba(143, 122, 247, 0.79178) 185.4deg,
    #ffffff 263.92deg,
    #ffffff 333.43deg,
    #ffffff 404.43deg
  );
}

.gradient-bg-bottom {
  background: conic-gradient(
    from 28deg at 41.65% 45.97%,
    #ffffff -26.57deg,
    #ffffff 44.43deg,
    #7b61ff 134.34deg,
    rgba(143, 122, 247, 0.79178) 185.4deg,
    #ffffff 263.92deg,
    #ffffff 333.43deg,
    #ffffff 404.43deg
  );
}

.gradient-bg-top-course {
  background: conic-gradient(
    from 207.84deg at 36.65% 30.97%,
    #ffffff -26.57deg,
    #ffffff 44.43deg,
    #2eb786 134.34deg,
    rgba(143, 122, 247, 0.79178) 185.4deg,
    #ffffff 263.92deg,
    #ffffff 333.43deg,
    #ffffff 404.43deg
  );
}
.gradient-bg-top-courses {
  background: conic-gradient(
    from 207.84deg at 43.65% 13.97%,
    #ffffff -26.57deg,
    #ffffff 44.43deg,
    #2eb786 134.34deg,
    rgba(143, 122, 247, 0.79178) 185.4deg,
    #ffffff 263.92deg,
    #ffffff 333.43deg,
    #ffffff 404.43deg
  );
}

.cardContainer {
  @apply h-[25rem] w-[20rem];
  perspective: 700px;
}

.card {
  @apply relative h-full w-full transition-transform duration-[1500ms];
  transform-style: preserve-3d;
}

.cardContainer:hover > .card {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  @apply absolute h-full w-full rounded-lg border-4 border-main-yellow text-center font-bold;
  backface-visibility: hidden;
}

.cardFront {
  @apply bg-secondary-400 text-3xl;
}

.cardBack {
  @apply flex place-items-center bg-primary-500 text-3xl;
  transform: rotateY(180deg);
}

.TreasuryHeader {
  display: block;
  padding: 5px 30px 5px;
  border: 2px solid black;
  border-radius: 50px !important;
  overflow: auto;
  position: static;
  margin: 0px 0px 0px 2px;
  border-color: #7b61ff;
}
